<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CryptoHubStation – Digital forex, Bitcoin Mine for Financial Advisory</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/favicon.ico">
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- Animate css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- magnific css -->
    <link rel="stylesheet" href="/css/magnific.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr css -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>


<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div id="preloader"></div>
    <header class="header-one">
        <!-- Start top bar -->
        <div class="topbar-area fix hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="topbar-left">
                            <ul>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@mail.com</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i> +909-654-9805</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-md-6 col-sm-6">
                        <div class="topbar-right">
                            <div class="top-social">
                                <ul>
                                    
                                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End top bar -->
        <!-- header-area start -->
        <div id="sticker" class="header-area header-area-2 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="row">
                            <!-- logo start -->
                            <div class="col-md-3 col-sm-3">
                                <div class="logo">
                                    <!-- Brand -->
                                    <a class="navbar-brand page-scroll white-logo" href="/">
                                        <img src="/img/logo/logo3.png" alt="">
                                    </a>
                                    <a class="navbar-brand page-scroll black-logo" href="/">
                                        <img src="/img/logo/logo.png" alt="">
                                    </a>
                                </div>
                                <!-- logo end -->
                            </div>
                            <div class="col-md-9 col-sm-9">
                                <div class="header-right-link">
                                    <!-- search option end -->
                                    <a class="s-menu" href="login">Login</a>
                                </div>
                                <!-- mainmenu start -->
                                <nav class="navbar navbar-default">
                                    <div class="collapse navbar-collapse" id="navbar-example">
                                        <div class="main-menu">
                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a class="pages" href="/">Home</a>
                                                </li>
                                                <li><a href="about">About us</a></li>
                                                <li><a href="investment">Investment</a></li>
                                                <li><a href="contact">contacts</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!-- mainmenu end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-area end -->
        <!-- mobile-menu-area start -->
        <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mobile-menu">
                            <div class="logo">
                                <a href="/"><img src="/img/logo/logo.png" alt="" /></a>
                            </div>
                            <nav id="dropdown">
                                <ul>
                                    <li><a class="pages" href="/">Home</a>
                                       
                                    </li>
                                    <li><a href="about">About us</a></li>
                                    <li><a href="investment">Investment</a></li>
                                    <li><a href="contact">contacts</a></li>
                                    <li><a href="login" class="hidden-md hidden-lg">Login</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile-menu-area end -->
    </header>
    <!-- header end -->
    <!-- Start Slider Area -->
    <div class="intro-area">
        <div class="main-overly"></div>
        <div class="intro-carousel">
            <div class="intro-content">
                <div class="slider-images ">
                    <img src="/img/slider/h1.jpg" alt="">
                </div>
                <div class="slider-content ">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <!-- Start Slider content -->
                                        <div class="slide-content text-center">
                                            <h2 class="title2">Invest with us today and Get awesome rewards</h2>
                                            <div class="layer-1-3">
                                                <a href="signup" class="ready-btn left-btn">Get started</a>
                                            </div>
                                        </div>
                                        <!-- End Slider content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-content">
                <div class="slider-images">
                    <img src="/img/slider/h2.jpg" alt="">
                </div>
                <div class="slider-content">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <!-- Start Slider content -->
                                        <div class="slide-content text-center">
                                            <h2 class="title2">Flexible plans with profitable ROI</h2>
                                            <div class="layer-1-3">
                                                <a href="signup" class="ready-btn left-btn">Get started</a>
                                            </div>
                                        </div>
                                        <!-- End Slider content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider Area -->
    <!-- Start Work proses Area -->
    <div class="work-proses fix bg-color area-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Get Started. its simple</h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="work-proses-inner text-center">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-proses">
                                    <div class="proses-content">
                                        <div class="proses-icon point-blue">
                                            <span class="point-view">01</span>
                                            <a href="#"><i class="ti-briefcase"></i></a>
                                        </div>
                                        <div class="proses-text">
                                            <h4>Register with us</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End column -->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-proses">
                                    <div class="proses-content">
                                        <div class="proses-icon point-orange">
                                            <span class="point-view">02</span>
                                            <a href="#"><i class="ti-layers"></i></a>
                                        </div>
                                        <div class="proses-text">
                                            <h4>Select an Investment Plan</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End column -->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-proses last-item">
                                    <div class="proses-content">
                                        <div class="proses-icon point-green">
                                            <span class="point-view">03</span>
                                            <a href="#"><i class="ti-bar-chart-alt"></i></a>
                                        </div>
                                        <div class="proses-text">
                                            <h4>Start Earning</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End column -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Work proses Area -->
    <!-- Start Support-service Area -->
    <div class="support-service-area fix area-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Why invest with us</h3>
                        <p>Crytohubstation is an awesome and simple platform to invest your asset</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="support-all">
                    <!-- Start About -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="support-services wow ">
                            <a class="support-images" href="#"><i class="flaticon-023-management"></i></a>
                            <div class="support-content">
                                <h4>Expert management</h4>
                                <p>We provide expert management and investment service with flexible plan suited for you</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="support-services ">
                            <a class="support-images" href="#"><i class="flaticon-003-approve"></i></a>
                            <div class="support-content">
                                <h4>Registered company</h4>
                                <p>CryptoHubStation is a company registered in the United Kingdom providing its investment services to Investor all around the world.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start About -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="support-services ">
                            <a class="support-images" href="#"><i class="flaticon-036-security"></i></a>
                            <div class="support-content">
                                <h4>Secure investment</h4>
                                <p>All data on financial operations as well as personal data are effectively protected with EV SSL certificates and additional services on encryption of data transfer.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Start services -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="support-services">
                            <a class="support-images" href="#"><i class="flaticon-024-megaphone"></i></a>
                            <div class="support-content">
                                <h4>Customer support</h4>
                                <p>We understand how important having reliable support service is to you. We have 24/7 Live Chat Support for any complain. Please don't hesitate to contact us should you have any questions or concerns and we will get back to you in no time</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Support-service Area -->
    <!-- Start Self-area -->
    <div class="self-area area-padding">
        <div class="container">
            <div class="row">
                <!-- column end -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="self-content">
                        <h4>Crytohub Station is a crpto investment firm with flexible plans, We help your secure you assets to a better future. Grow Money speedly without any risk. </h4>
                        <span class="talk-text">The Team</span>
                    </div>
                </div>
                <!-- column end -->
            </div>
        </div>
    </div>
    <!-- End Self-area -->
    <!-- Start Invest area -->
    <div class="invest-area bg-color area-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3> Investment plans</h3>
                        <p>The following investment plans are flexible for you with awesome profits</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pricing-content">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="pri_table_list">
                            <div class="top-price-inner">
                                <span class="base bluej">Starter</span>
                                <div class="rates">
                                   <span class="prices">120%</span><span class="users">ROI</span>
                                </div>
                                <span class="per-day">7 days</span>
                            </div>
                            <ol class="pricing-text">
                                <li class="check">Minimum Invest : $100</li>
                                <li class="check">Maximum Invest : $500</li>
                            </ol>
                            <div class="price-btn blue">
                                <a class="blue" href="signup">Start</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="pri_table_list">
                            <div class="top-price-inner">
                                <span class="base">Popular</span>
                                <div class="rates">
                                    <span class="prices">240%</span><span class="users">ROI</span>
                                </div>
                                <span class="per-day">7 days</span>
                            </div>
                            <ol class="pricing-text">
                                <li class="check">Minimum Invest : $600</li>
                                <li class="check">Maximum Invest : $1500</li>
                                
                            </ol>
                            <div class="price-btn blue">
                                <a class="blue" href="signup">Start</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="pri_table_list">
                            <div class="top-price-inner">
                                <span class="base gold">Premuim</span>
                                <div class="rates">
                                    <span class="prices">340%</span><span class="users">ROI</span>
                                </div>
                                <span class="per-day">7 days</span>
                            </div>
                            <ol class="pricing-text">
                                <li class="check">Minimum Invest : $1600</li>
                                <li class="check">Maximum Invest : $****</li>
                                
                            </ol>
                            <div class="price-btn blue">
                                <a class="blue" href="signup">Start</a>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
    <!-- End Invest area -->
    <!-- Start Count area -->
    <!-- <div class="counter-area fix area-padding-2">
        <div class="container">
            
            <div class="row">
                <div class="fun-content">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                       
                        <div class="fun_text">
                            <span class="counter-icon"><i class="flaticon-035-savings"></i></span>
                            <span class="counter">$5974544</span>
                            <h4>Total Deposited</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                       
                        <div class="fun_text">
                            <span class="counter-icon"><i class="flaticon-034-reward"></i></span>
                            <span class="counter">2209</span>
                            <h4>Total Members</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                     
                        <div class="fun_text">
                            <span class="counter-icon"><i class="flaticon-016-graph"></i></span>
                            <span class="counter">$3974544</span>
                            <h4>Total Payments</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        
                        <div class="fun_text">
                            <span class="counter-icon"><i class="flaticon-043-world"></i></span>
                            <span class="counter">80</span>
                            <h4>World Country</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Count area -->

    
   
    
    <!--Start payment-history area -->
    <div class="payment-history-area bg-color fix area-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Deposits and withdrawals history</h3>
                        <p>Latest Deposits and withdrawals from our investors from around the world. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="deposite-content">
                        <div class="diposite-box">
                            <h4>Last deposite</h4>
                            <span><i class="flaticon-005-savings"></i></span>
                            <div class="deposite-table">
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Currency</th>
                                    </tr>
                                    <tr>
                                        <td>Admond sayhel</td>
                                        <td>Jan 02, 2020</td>
                                        <td>$1000</td>
                                        <td>Bitcoin</td>
                                    </tr>
                                    <tr>
                                        <td>Jonshon</td>
                                        <td>Dec 12, 2019</td>
                                        <td>$5000</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Hopper</td>
                                        <td>Dec 22, 2019</td>
                                        <td>$4000</td>
                                        <td>Ripple</td>
                                    </tr>
                                    <tr>
                                        <td>Admond sayhel</td>
                                        <td>Jan 02, 2020</td>
                                        <td>$3000</td>
                                        <td>Bitcoin</td>
                                    </tr>
                                    <tr>
                                        <td>Anjel july</td>
                                        <td>Jan 05, 2020</td>
                                        <td>$500</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Lagisha</td>
                                        <td>Jan 12, 2020</td>
                                        <td>$5000</td>
                                        <td>Bitcoin</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="diposite-box">
                            <h4>Last withdrawals</h4>
                            <span><i class="flaticon-042-wallet"></i></span>
                            <div class="deposite-table">
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Currency</th>
                                    </tr>
                                    <tr>
                                        <td>Arnold</td>
                                        <td>Jan 04, 2020</td>
                                        <td>$1000</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Jhon Abra</td>
                                        <td>Jan 07, 2020</td>
                                        <td>$6000</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Lanisha</td>
                                        <td>Jan 13, 2020</td>
                                        <td>$5000</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Gongales</td>
                                        <td>Jan 12, 2020</td>
                                        <td>$2000</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Admond sayhel</td>
                                        <td>Jan 10, 2020</td>
                                        <td>$1000</td>
                                        <td>USD</td>
                                    </tr>
                                    <tr>
                                        <td>Remond</td>
                                        <td>Jan 02, 2020</td>
                                        <td>$3000</td>
                                        <td>USD</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End payment-history area -->
    <!-- Start Banner Area -->
    <div class="banner-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-all area-80 text-center">
                        <div class="banner-content">
                            <h3>Join Our investment plan today, Join the Big train</h3>
                            <a class="banner-btn" href="signup">Sign up now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area -->
   
    <!-- Start reviews Area -->
    <div class="reviews-area fix area-padding">
        <div class="container">
            <div class="row">
                <div class="reviews-top">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="testimonial-inner">
                            <div class="review-head">
                                <h3>What Our customers say about our company</h3>
                                <p>We derive pride in getting awesome feedbacks from our investors. We have be effecient and reliable in providing them with 99% satisfaction and steady growth of thier crpto assets </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="reviews-content">
                            <!-- start testimonial carousel -->
                            <div class="testimonial-carousel item-indicator">
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="client-rating">
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                            </div>
                                            <p>I decided to Invest some dollars hoping i will get my profit as stated on the website. The interesting part is when i saw my money growing. I picked the Starter Weekly Plan. And i was just surprised. This is to real to be true. I was then contacted by an admin to write a testimonial about the platform in which i gladly did. CryptoHubStation is a real deal.</p>
                                        </div>
                                        <div class="testi-img ">
                                            <img src="img/review/1.jpg" alt="">
                                            <div class="guest-details">
                                                <h4>Hamilton</h4>
                                                <span class="guest-rev">IG <a href="https://www.instagram.com/nalapelkey/" target="_blank">@nalapelkey</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="client-rating">
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                            </div>
                                            <p>It is very easy to make investments on this site. They have different payment gateways that are secured and easy to use. I upgraded my membership plan to premium and it has been fun with lots of features added to my account. One thing i must say is you don't need money to start making money from this site. Thanks</p>
                                        </div>
                                        <div class="testi-img ">
                                            <img src="img/review/2.jpg" alt="">
                                            <div class="guest-details">
                                                <h4>James forte</h4>
                                                <span class="guest-rev">IG <a href="https://www.instagram.com/james_forte16/" target="_blank">@james_forte16</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="client-rating">
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                                <a href="#"><i class="ti-star"></i></a>
                                            </div>
                                            <p>Every process is so simple. my bitcoins has been properly managed and grown into massive wealth, all thanks to crptohub station. The best station for growing your digital asset</p>
                                        </div>
                                        <div class="testi-img ">
                                            <img src="img/review/3.jpg" alt="">
                                            <div class="guest-details">
                                                <h4>Khaleed Auba</h4>
                                                <span class="guest-rev">IG<a href="https://www.instagram.com/khaleed5795/" target="_blank">@khaleed5795</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End reviews Area -->
    <!-- Start FAQ area -->
    <div class="faq-area bg-color area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Some important FAQ</h3>
                        <p>you may have some question here are some answers to help you out</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start Column Start -->
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="company-faq">
                        <div class="faq-full">
                            <div class="faq-details">
                                <div class="panel-group" id="accordion">
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
                                                    <span class="acc-icons"></span>How to withdraw funds?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check1" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>
                                                    You can withdraw your money in your personal account in the Withdraw Section its simple and secured. Your account is credited once payment is confirmed
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check2">
                                                    <span class="acc-icons"></span>Is there a minimum sum for withdrawal
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    Yes, a minimum amount you can request for a withdrawal is 80% of your traded account in US Dollar.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check3">
                                                    <span class="acc-icons"></span>Are there risks to lose money?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check3" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <p>
                                                   There are no risks in any investment programs. There are some simple ways that we help to reduce risks of losing your money. First, set a certain financial goal and deposit such sum of money that you can afford. Remember that our expert trading team is always ready to consult you in any questions.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check4">
                                                    <span class="acc-icons"></span>What payment systems do you use?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check4" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <p>
                                                    We accept only Bitcoin but transactions can be made from any platform to our Company Wallet
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check5">
                                                    <span class="acc-icons"></span>How is the interest calculated?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check5" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    Your interest is calculated every business day based on the size of your deposit.

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                    <!-- Panel Default -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="check-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#check5">
                                                    <span class="acc-icons"></span>How do I rectify issues
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="check5" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    Contact Live Chat Support. Live Chat Support is available 24/7
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Panel Default -->
                                </div>
                            </div>
                            <!-- End FAQ -->
                        </div>
                    </div>
                </div>
                <!-- End Column -->
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <img src="/img/feature/faq.svg">
                </div>
                <!-- End Column -->
            </div>
        </div>
    </div>
    <!-- End FAQ area -->
    <!-- Start Footer Area -->
    <footer class="footer1">
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="footer-content logo-footer">
                            <div class="footer-head">
                                <div class="footer-logo">
                                    <a class="footer-black-logo" href="#"><img src="img/logo/logo.png" alt=""></a>
                                </div>
                                <p>
                                    CryptoHubStation is a company registered in the United Kingdom providing its investment services to Investor all around the world.

                                </p>
                                <div class="subs-feilds">
                                    <div class="suscribe-input">
                                        <input type="email" class="email form-control width-80" id="sus_email" placeholder="Type Email">
                                        <button type="submit" id="sus_submit" class="add-btn">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-md-4 col-sm-3 col-xs-12">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>Services Link</h4>
                                <ul class="footer-list">
                                    <li><a href="/" target="_blank">HomePage</a></li>
                                    <li><a href="/about">About us</a></li>
                                   
                                    <li><a href="#">Live chat</a></li>
                                    <li><a href="#">Terms & Condition</a></li>
                                    <li><a href="/contact">Contact us </a></li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="footer-content last-content">
                            <div class="footer-head">
                                <h4>Information</h4>
                                <div class="footer-contacts">
                                    <p><span>Tel :</span> +0890-564-5644</p>
                                    <p><span>Email :</span> info@aievari4.com</p>
                                    <p><span>Location :</span> House- 65/4, London</p>
                                </div>
                                <div class="footer-icons">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
    <!-- End Footer area -->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- stellar js -->
    <script src="/js/jquery.stellar.min.js"></script>
    <!-- magnific js -->
    <script src="/js/magnific.min.js"></script>
    <!-- wow js -->
    <script src="/js/wow.min.js"></script>
    <!-- meanmenu js -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- Form validator js -->
    <script src="/js/form-validator.min.js"></script>
    <!-- plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- main js -->
    <script src="/js/main.js"></script>
</body>


</html>